.DS_Store
Fgenerator.o
MPS
MPS_iterate.o
MPS_single.c
Umufile.txt
bilin_int.o
cspline.o
cutlookup.o
dist_file.txt
dist_gen
dist_gen.o
dist_parameters.txt
distfuncin.txt
iondens.o
k1gyrokinetic.txt
linetodata.o
makelookup.o
newguess.o
phidata.txt
tophat.o
densfinorb.o
fig-phiW-alpha-tau=1_D.pdf
fig-phiW-alpha-tau=1_mi=1836me.pdf
fig-phiW-alpha-tau=1_mi=3600me.pdf
iondens_old_replacedby_densfinorb.c
phi_W-alpha_tau=1.txt
phi_W-alpha_tau=1_gamma_e=0_mi=1836me.txt
phi_W-alpha_tau=1_gamma_e=inf_mi=1836me.txt
phi_W-alpha_tau=1_gamme_e=inf.txt
plot_potentialdrop.py
