Fgenerator.o
MPS
MPS_iterate.o
MPS_single.c
Umufile.txt
bilin_int.o
cspline.o
cutlookup.o
dist_file.txt
dist_gen
dist_gen.o
dist_parameters.txt
distfuncin.txt
inputfile.txt
iondens.o
k1gyrokinetic.txt
linetodata.o
makelookup.o
newguess.o
phidata.txt
tophat.o
