.DS_Store
MPS
MPS.o
Umufile.txt
dist_file.txt
distfuncin.txt
k1gyrokinetic.txt
denscalc.o
MPS.o
potupdate.o
otherfuncs.o
Fi_mpe.txt
Fe_mpe.txt
Fi_mpe_args.txt
Fe_mpe_args.txt
2dcode/OUTPUT
.tmp.driveupload/
Bohmvalues.txt
GIMS
GIMS.o
GIMScode.zip
GIMScode/
OUTPUT/
OldPythonScripts/
RESULTS_finiterhoe/
checkellip.txt
checkellip_mu=0.1.txt
checkellip_mu=0.2.txt
checkellip_mu=0.5.txt
checkellip_mu=1.txt
checkellip_mu=2.txt
denscalc_copy.c
junk/
mu_trueell_scan.pdf
phidata.txt
plotcheckellip.py
scanGIMS.py

